certifi==2025.8.3
charset-normalizer==3.4.2
idna==3.10
mypy==1.17.0
mypy_extensions==1.1.0
nodeenv==1.9.1
pathspec==0.12.1
pymsteams==0.2.5
pyright==1.1.403
requests==2.32.4
ruff==0.12.5
types-requests==2.32.4.20250611
typing_extensions==4.14.1
urllib3==2.5.0
